.total {
    font-family: Georgia;
    margin-left: 15%;
    margin-top: 5%;
    color: tomato;
  }
  .total h3 {
    color: #ff4d2d;
  }
  body,
  #door {
    background-color: #3f3137;
  }
  #porthole,
  #jamb {
    background-color: tomato;
  }
  #knob,
  .side {
    background-color: #ff4d2d;
  }
  #jamb {
    position: absolute;
    left: 50%;
    margin-left: -5vw;
    bottom: 10vh;
    width: 10vw;
    height: 20vw;
    overflow: hidden;
    transition: all 0.2s ease-in;
  }
  #jamb:hover,
  #jamb:hover #porthole {
    transition: all 0.2s ease-in;
    background-color: #ff8e7a;
  }
  #jamb .side {
    position: absolute;
    width: 0;
    height: 0;
  }
  #jamb #side1 {
    right: 0;
    bottom: 0;
    animation: drawSide1 0.5s ease-in-out forwards;
    z-index: 10;
  }
  #jamb #side2 {
    right: 0;
    top: 0;
    animation: drawSide2 0.5s ease-in-out 0.5s forwards;
    z-index: 10;
  }
  #jamb #side3 {
    left: 0;
    top: 0;
    animation: drawSide3 0.5s ease-in-out 1s forwards;
    z-index: 10;
  }
  #jamb #side4 {
    left: 0;
    bottom: 0;
    animation: drawSide4 0.5s ease-in-out 1.5s forwards;
    z-index: 10;
  }
  #jamb #door {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 50%;
    cursor: pointer;
  }
  #jamb #door #knob {
    position: absolute;
    left: 1vw;
    top: 50%;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    opacity: 0;
    animation: showKnob 0.5s ease-in-out 2s forwards;
  }
  #jamb #door #porthole {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    border: 0.15vw solid #ff4d2d;
    box-shadow: inset 0 0 5vw 0 rgba(195, 220, 233, 0.25);
    overflow: hidden;
    transform: rotateY(-90deg);
    opacity: 0;
    animation: reveal 0.5s ease-in-out 2s forwards;
    transition: all 0.2s ease-in;
  }
  .crack {
    animation: crack 0.5s cubic-bezier(0.46, 0.59, 0.53, 1) 2.5s forwards;
  }
  .open {
    animation: crackopen 0.25s cubic-bezier(0.46, 0.59, 0.53, 1) forwards;
  }
  .spread {
    animation: spread 0.25s ease-in-out 0.25s forwards;
  }
  @keyframes dark-glow {
    to {
      box-shadow: inset 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes crack {
    to {
      background-color: #5b4850;
      box-shadow: 0 0 0 0.2vh #ff4d2d;
      transform: perspective(15vw) rotateY(-13deg);
    }
  }
  @keyframes crackopen {
    from {
      background-color: tomato;
      transform: perspective(15vw) rotateY(-13deg);
    }
    to {
      background-color: #ff7961;
      transform: perspective(20vw) rotateY(-90deg);
    }
  }
  @keyframes spread {
    from {
      bottom: 10vh;
      left: 50%;
      height: 20vw;
      wdth: 10vw;
    }
    50% {
      bottom: 10vh;
      left: 50%;
      height: 0.2vw;
      width: 10vw;
    }
    100% {
      bottom: 10vh;
      left: 50%;
      height: 0.2vw;
      left: calc(50% + 10vw);
      width: 0;
    }
  }
  @keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
  @keyframes drawSide1 {
    from {
      width: 0.2vw;
      height: 0;
    }
    to {
      width: 0.2vw;
      height: 100%;
    }
  }
  @keyframes drawSide2 {
    from {
      height: 0.2vw;
      width: 0;
    }
    to {
      height: 0.2vw;
      width: 100%;
    }
  }
  @keyframes drawSide3 {
    from {
      height: 0;
      width: 0.2vw;
    }
    to {
      height: 100%;
      width: 0.2vw;
      bottom: 0;
    }
  }
  @keyframes drawSide4 {
    from {
      height: 0.2vw;
      width: 0;
    }
    to {
      height: 0.2vw;
      width: 100%;
    }
  }
  @keyframes showKnob {
    0% {
      transform: scale(0.5, 0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.2, 1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  